/*csslint ids:false, box-model:false*/


/*
General
*/

body {
    font-family: 'Open Sans', sans-serif;
}

#wrapper {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 5%;
    display: block;
    max-width: 50px 50px;
    background-color: #d5d5d5;
    background-image: url("../img/intro.png");
}

#wrapper2 {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 5%;
    display: block;
    max-width: 50px 50px;
    border-radius: 5%;
    background-image: url("../img/about.png")
}

#wrapper3 {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 5%;
    display: block;
    max-width: 50px 50px;
    border-radius: 5%;
    background-image: url("../img/bg3.png");
    text-align: center;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}


/*
Header
*/

#logo {
    /*Name and desc. of who i am*/
    text-align: center;
    margin: 0;
}

h1 {
    font-family: 'Electrolize', sans-serif;
    margin: 5px 0;
    font-size: 1.75em;
    color: #fff;
}

h2 {
    font-size: 1em;
    /*1st value for top. 2nd value for left and right. 3rd for bottom*/
    margin: 5px 0 0;
    font-weight: normal;
    color: white;
}


/*
Navigation
*/

nav {
    -webkit-box-shadow: 10px 10px 20px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 20px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 20px 1px rgba(0, 0, 0, 0.75);
}

body {
    padding-top: 100px;
}


/*
Footer
*/

footer {
    font-size: 0.75em;
    text-align: center;
    padding-top: 50px;
    color: #ccc;
    clear: both;
}

.social-media-icon {
    width: 40px;
    height: 40px;
    margin: 0 5px;
}


/*
page portfolio
*/

#gallery {
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li {
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: lightgrey;
    color: #d5d5d5;
    display: block;
    max-width: 30px 30px;
    border-radius: 10%;
}

#gallery li a p {
    margin: 0;
    padding: 5%;
    font-size: 0.75em;
    color: black;
}


/*
About me page
*/

.profile-photo {
    display: block;
    max-width: 30px 30px;
    border-radius: 25%;
    padding-top: 0;
}


/*
Contact Page
*/

.contact-info {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}

.contact-info a {
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 0 10px;
}

.contact-info li.mail a {
    background-image: url('http://cdn.mysitemyway.com/icons-watermarks/flat-circle-white-on-black/broccolidry/broccolidry_email/broccolidry_email_flat-circle-white-on-black_512x512.png')
}

.contact-info li.twitter a {
    background-image: url('http://www.poleluxe.net/assets/twitter_circle_black-512-e3f1066a18614eac880fb48b9f961532.png')
}


/*
Colors
*/

body {
    background-image: url(../img/intro.png);
    background-color: #fff;
    color: #999;
}

a {
    color: ghostwhite;
}


/*Pseudo class*/

nav a,
nav a:visited {
    color: #fff;
}

nav a.selected,
nav a:hover {
    color: #a0a5b3;
}

h3 {
    color: white;
    text-align: center;
}

#wrapper p {
    text-align: center;
    color: black;
}

#wrapper2 p {
    text-align: center;
    color: #d5d5d5;
}


/*
Media Queries
*/

@media screen and (min-width: 480px) {
    #primary {
        width: 50%;
        float: left;
    }
    #secondary {
        width: 40%;
        float: right;
    }
    #gallery li {
        width: 28.3333%;
    }
    #gallery li:nth-child(4n) {
        clear: left;
    }
}


/*
About Page
*/

.profile-photo {
    float: left;
    margin: 0 5% 80px 0;
}

#check:checked ~ label #cover {
    display: block;
}

#cover,
#cover2,
#cover3,
#cover4,
#cover5,
#cover6 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

#box,
#box2,
#box3,
#box4,
#box5,
#box6 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 720px;
    height: 500px;
    border: 10px solid white;
}

#check2:checked ~ label #cover2 {
    display: block;
}

#check3:checked ~ label #cover3 {
    display: block;
}

#check4:checked ~ label #cover4 {
    display: block;
}

#check5:checked ~ label #cover5 {
    display: block;
}

#check6:checked ~ label #cover6 {
    display: block;
}

#contact {
    background-image: url("../img/about.png")
}

#about {
    background-image: url(../img/bg3.png);
}